__pycache__
dataset/GSO
dataset/objaverse

checkpoints/
outputs/
debug/
ckpt_lbs_template.pth
*.pth

# Symlinks to external data
checkpoints
outputs
dataset

outputs_fall/
outputs_interaction/
outputs_fall_interaction/
outputs_interaction_mlp/